*,
*::after,
*::before {
	box-sizing: border-box;
}

 :root {
	--body-bg-color: #eee;
	--container-bg-color: #f6f6f6;
	--view-bg-color: rgba(246, 246, 246, 0.8);
	--container-shadow-color: 0 0 15px silver;
	--alert-bg-color: rgba(229, 229, 229, .95);
	--text-color: #333;
	--tab-text-color: #ff710f;
	--card-bg-color: #fff;
	--card-bg-badeg: #dfe5e9;
	--img-right:brightness(100%);
	--svg-color: #000;
	--heading-bg-color: linear-gradient(135deg, #ff710f, #ff3a2a);
}

 :root[theme='dark'] {
	--body-bg-color: #2A2C38;
	--container-bg-color: #121823;
	--view-bg-color: rgba(24, 24, 24, 0.8);
	--container-shadow-color: 0 15px 12px rgba(0, 0, 0, 0.12);
	--alert-bg-color: rgba(31, 30, 30, .95);
	--text-color: #c2c8ce;
	--tab-text-color: #01ff8d;
	--card-bg-color: linear-gradient(270deg, #595C66 1%, #73767F 100%);
	--card-bg-badeg: #45535d;
	--img-right:brightness(90%);
	--svg-color: #fff;
	--heading-bg-color: linear-gradient(135deg, #09c3d9, #01ff8d);
}

@font-face {
	font-family: 'iconfont';
	/* project id 1149735 */
	src: url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.eot');
	src: url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.woff2') format('woff2'), url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.woff') format('woff'), url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.ttf') format('truetype'), url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 1300px){
    html {
        font-size: 22px !important; 
    }
}
@media only screen and (min-width: 1800px){
    html {
        font-size: 20px !important; 
    }
}
html {
	/*font-size: .7em;*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	background: var(--body-bg-color);
	transition: all 0.3s ease 0s;
	/*font: normal 300 16px 'Open-sans', helvetica, sans-serif;*/
}

#fizz {
	width: 100%;
	height: 100%;
	top: 0;
	position: fixed;
	z-index: -1;
	background: var(--body-bg-color);
}

.container {
	width: 100%;
	max-width: 1480px;
	margin: 50px auto 20px;
	padding: 20px;
	border-radius: 6px;
	/*background-color: var(--container-bg-color);*/
	/*box-shadow: var(--container-shadow-color);*/
}

a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

ol,
ul {
	margin: 0;
}

img {
	max-width: 100%;
}

b,
strong {
	font-weight: 600;
}

hr {
	background: #111;
	box-shadow: none;
	border: none;
	height: 1px;
	width: 100%;
	margin: 10px 0;
}

h1 {
	color: #fff;
}

h4 {
	margin-left: 1.2rem;
	margin-bottom: .5rem;
}

h5 {
	padding-left: 1.2rem;
	margin: 0;
}

.head {
	display: flex;
	justify-content: center;
	height: 400px;
}

body svg {
	position: relative;
	z-index: 5;
	width: 350px;
	height: 350px;
	animation:mymove .3s linear;
}

body svg path {
	transition: opacity 650ms ease;
	transition-delay: 100ms;
}

svg .top {
	opacity: 1;
	z-index: 2;
}

svg .top.left {
	fill: url(#orange);
}

svg .top.right {
	fill: url(#purple);
}

svg .bottom {
	opacity: 0;
	z-index: 1;
}

svg .bottom.left {
	fill: url(#pink);
}

svg .bottom.right {
	fill: url(#bajablast);
}

#theme-btn::after {
	position: absolute;
	cursor: pointer;
	top: 8px;
	right: 8px;
	z-index: 10;
	padding: 8px 12px;
	/*background: rgba(29, 29, 29, 0.75);*/
	border-radius: 30px;
	border: 2px solid #ff710f;
	color: #ff710f;
	content: "夜 间 模 式";
	font-size: 13px;
	font-family: 'Hind';
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	transition: background-color .25s ease-out, box-shadow .25s ease;
	transition-delay: 100ms;
}

#theme-btn:hover::after {
	background-color: #ff710f;
	color: #fff;
}

svg.svg-dark .top {
	opacity: 0;
}

svg.svg-dark .bottom {
	opacity: 1;
}

#theme-btn.dark::after {
	font-family: 'Hind';
	content: "日 间 模 式";
	border: 2px solid #01ff8d;
	color: #01ff8d;
}

#theme-btn.dark:hover::after {
	background-color: #01ff8d;
	color: #fff;
}

.content {
	position: absolute;
	font-family: 'Hind';
	font-size: 80px;
	font-weight: 600;
	text-align: center;
	color: var(--svg-color);
	line-height: 270px;
	z-index: 100;
	animation:mymove .3s linear;
}

@keyframes mymove {
	0% {
		filter:blur(100px);
	}
	20% {
		filter:blur(50px);
	}
	100% {
		filter:blur(0);
	}
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#bg canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*
 ::selection {
	background: var(--main-bg-color);
	color: #fff;
}

 ::-moz-selection {
	background: var(--main-bg-color);
	color: #fff;
}*/

.heading {
	width: 100%;
	margin-left: 1rem;
	font-weight: 900;
	font-size: 1.318rem;
	text-transform: uppercase;
	letter-spacing: .1ch;
	line-height: 1;
	position: relative;
	color: var(--text-color);
}

.heading:after {
	display: block;
    content: '';
    position: absolute;
    width: 0.3rem;
    height: 1.3rem;
    left: -0.6rem;
    top: 0px;
    border-radius: 0.3rem;
    background: var(--heading-bg-color);
    bottom: 0;
}

.heading-basic li {
	color: var(--text-color);
	margin: 10px;
	font-size: 0.8rem;
	font-weight: 500;
}

.heading-title {
	color: var(--text-color);
	width: 100%;
	margin-top: 0;
	margin-bottom: .5rem;
	margin-left: 1rem;
}

.wrapper {
	padding: 40px 0;
}

.card {
	padding: 0.25rem;
	border-radius: 0.8rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	transition: all 0.3s ease 0s;
}

.card:hover {
	background: var(--card-bg-color);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	transform: translateY(-5px);
}

.card__picture {
	display: block;
	width: 100%;
	border-radius: 0.6rem;
	filter: var(--img-right);
	height: auto;
	transition: all 0.3s ease 0s;
}
.card:hover .card__picture{
	filter: brightness(100%);
}

.card-infos {
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	color: var(--text-color);
}
.card-infos h2{
	font-size: .6rem;
}
.card——badge{
	font-family: 'Hind';
	font-size: 12px;
	font-weight: 600;
	line-height: 1.4;
	margin: 0 0 5px;
	display: inline-block;
	background-color: var(--card-bg-badeg);
	padding: 0 5px;
	border-radius: 4px;
}
.card__title {
	font-family: 'Hind';
	font-size: 12px;
	font-weight: 600;
	line-height: 1.4;
	display: inline-block;
    	margin: 5px 6px;
}

.card__text {
	font-family: 'Hind';
	font-size: .7rem;
	border-top: 1px dashed #d4d4d4;
	padding-top: 5px;
	margin: 0;
}

.card__text--high {
	font-weight: 600;
}

.header {
	background: var(--main-bg-color);
	height: 160px;
	display: flex;
}

.header__title {
	margin: auto;
	font-weight: 300;
	font-size: 3.2rem;
	color: #fff;
}

.header__title--high {
	font-weight: 600;
}

.sortable__nav {
	display: flex;
	list-style: none;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

@keyframes shade {
	0% {
		opacity: 0;
		top: 5rem;
	}
	20% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}


.nav__link {
	padding: 0 20px 4px;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	display: block;
	line-height: 2rem;
	border-bottom: 2px solid transparent;
}

.nav__link:hover {
	color: var(--tab-text-color);
}

.nav__link.is-active {
	color: var(--tab-text-color);
	border-color: var(--tab-text-color);
}

.footer__list.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list__item.item {
	display: flex;
}

.item__link.link {
	margin: 0;
}

.item__link.link:not(:first-child) {
	margin-left: 20px;
}

.link__icon {
	height: 2rem;
	width: 2rem;
}

.link-color {
	color: var(--text-color);
}

.link-color:hover {
	color: var(--tab-text-color);
}


/*workDetail*/

.workDetail {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 50px auto;
}

.detailImg {
	border-radius: 10px;
	width: 50%;
	height: 100%;
}


/*弹窗*/

@keyframes demo {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

#alert-view {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*background: var(--view-bg-color);*/
	z-index: 99994;
	overflow: auto;
	display: none;
	-webkit-animation: demo 0.3s ease-out forwards;
}

#alert-view i {
	position: fixed;
	background: url(../img/btn_close_layer.png)0 0 no-repeat;
	width: 36px;
	height: 36px;
	right: 7%;
	top: 80px;
	margin: -18px 0 0 -18px;
	z-index: 99995;
}

#alert-view i:hover {
	background-position: 0 -50px;
}

#alert-view .cut {
	position: fixed;
	width: 1200px;
	z-index: 9993;
}

#alert-view .cut a {
	width: 60px;
	height: 150px;
	margin-top: -75px;
	background: url(../img/pin_view_arrows.png);
}

.cut-left {
	visibility: visible;
	position: fixed;
	left: 5%;
	top: 50%;
}

.cut-left:hover {
	background-position: 0 -170px!important;
}

.cut-right {
	visibility: visible;
	position: fixed;
	right: 5%;
	top: 50%;
}

.cut-right:hover {
	background-position: -80px -170px!important;
}

.alert-view-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 50px 0;
	margin: auto;
}
.alert-img{
	bottom: 0;
}


/*返回顶部*/

.t-right-bar {
	position: fixed;
	right: 0;
	bottom: 10%;
	width: 48px;
	height: 48px;
	z-index: 1000;
	cursor: pointer;
}

.t-right-bar>div {
	float: left;
	height: 36px;
	margin-bottom: 1px;
	border-radius: 20px 0 0 20px;
	color: #fff;
	padding-left: 100%;
	clear: both;
	white-space: nowrap;
	font-size: 13px;
	line-height: 36px;
	font-style: normal;
	background-color: rgba(0, 0, 0, 0.1);
	background-repeat: no-repeat;
	background-position: 12px center;
	transition: transform .2s cubic-bezier(.215, .61, .355, 1), padding .2s cubic-bezier(.215, .61, .355, 1), margin .2s cubic-bezier(.215, .61, .355, 1), background-color .2s cubic-bezier(.215, .61, .355, 1)
}

.t-right-bar>div.active,
.t-right-bar>div:hover {
	transform: translateX(-100%);
	padding-left: 45px;
	padding-right: 10px;
	margin-left: 48px;
	background-color: rgba(30, 159, 255, 0.5);
	text-decoration: none;
	color: #fff;
}

.t-right-bar .t-bar-rocket {
	background-image: url(../img/rocket_1.svg); //按钮图标
	background-position: 19px center;
}

.pull-loading{
	text-align: center;
}
